/** @format */

$cardHeadBackgroundColor: #efefef;
$btnBackgroundColor: #426e86;

.container {
    min-height: 100vh;
    width: 100vw;
    background: url("/images/bg-1.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: center;

    .card {
        width: 350px;
        margin: auto;
        margin-top: 40px;
        margin-bottom: 40px;
        background-color: white;
        box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2),
            0 6px 20px 0 rgba(0, 0, 0, 0.19);
        border-radius: 10px;
        padding: 0px;
        .head {
            padding: 30px;
            text-align: center;
            color: #2d2d2d;
            background-color: $cardHeadBackgroundColor;
            border-top-left-radius: 10px;
            border-top-right-radius: 10px;
            * {
                margin: 0px;
                font-family: Bahnschrift;
            }
            p {
                font-size: 18px;
                transition: 0.3s opacity;
            }
            h1 {
                font-size: 35px;
                transition: 0.3s opacity;
            }
        }
        .body {
            padding: 30px;
            padding-left: 50px;
            padding-right: 50px;
            display: flex;
            flex-direction: column;
            form {
                transition: 0.3s opacity;
            }
            * {
                margin: 0px;
                font-family: Bahnschrift;
            }
            div {
                display: flex;
                flex-direction: column;
                input,
                .options {
                    padding: 9px;
                    font-size: 17px;
                    outline-style: none;
                    border-radius: 4px;
                    border: 1px solid #707070;
                    margin-bottom: 20px;
                }
                button {
                    background-color: $btnBackgroundColor;
                    color: white;
                    padding: 10px;
                    margin-bottom: 20px;
                    font-size: 18px;
                    font-weight: bold;
                    border: 0px;
                    outline: none;
                    border-radius: 4px;
                    cursor: pointer;
                }
                a {
                    text-align: center;
                }
            }
        }
    }
}

@media (max-width: 400px) {
    .container .card {
        width: 90vw;
    }
}
