/** @format */

html,
body {
    padding: 0;
    margin: 0;
    font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
        Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
    overflow-x: hidden;
}
@import url("https://fonts.googleapis.com/css2?family=Anton&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Fjalla+One&display=swap");

@font-face {
    font-family: Bahnschrift;
    src: url(/fonts/BAHNSCHRIFT.woff);
}

a {
    color: inherit;
    text-decoration: none;
}

* {
    box-sizing: border-box;
}
